

body{
    background: beige;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
    width: 560px;
    height: 390px;
    margin-top: 100px;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius:10px ;
border-bottom-left-radius: 10px;
}

.text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;

    
}

.photo{
    width: 50%;
    height: 100%;
}
.titre{
    height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.petitTitre{
    font-family: "Fraunces", serif;
    font-size: 30px;
    font-size: 30px;
    font-weight: 700;


}
.premierTitre{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Fraunces", serif;
    padding-bottom: 10px;

}

.description{
    font-family: "Fraunces", serif;
    font-size: 15px;
    padding-top:20px ;

}

.prixNormal{
    font-family: "Fraunces", serif;
    font-size: 30px;
    margin-right: 10px;


}

.prixBarré{
    font-family: "Montserrat", sans-serif;
    text-decoration: line-through;
    font-size: 13px;
    color: black;
    font-weight: 300;

}

.prix{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    list-style: none;
    height: 50px;
    color: green;
    font-weight: 700;

}

.bouton{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: green;
    border-radius: 10px;
    width: 200px;
    padding: 10px;
    cursor: pointer;
  
    font-family: "Fraunces", serif;
    color: white;
    border: none;
    width: 80%;

}

button img{
    width: 10px;
    height: 10px;
    color: white;
    padding-right: 5px;
    padding-top: 3px;
}

 button{
    border: none;
    background: green;
    width: 200px;
    font-family: "Fraunces", serif;
    color: white;

}

:hover button {
    cursor: pointer;
}

